<% include partials/header %>

  <div id="booking">
      <div class="container">
          <div class="row text-center">
              <div class="form-group text-center">
              <input class="form-control" type="text" placeholder="Your Name*">
                  <textarea class="form-control" placeholder="Your Address*"></textarea>
             <input class="form-control" type="text" placeholder="Your Mobile no*">
               <input type="text" class="datepicker form-control" placeholder="Select Date">
               <a href="" class="btn btn-primary btn-large text-center">Register</a>
              
           </div>
          </div>
      </div>
  </div>  
  
<% include partials/footer %>   
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
       

        <script type="text/javascript">
$('.datepicker').datepicker({
  format: 'mm/dd/yyyy',
  orientation: 'left bottom',
  autoclose: true,
  todayHighlight: true
});
        </script>




















