<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
/*
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
*/
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/contact.css">
      
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
    
    <div id="img"  data-type="background" data-speed="5">
        
    </div>
    
    <div id="contactus">
    <div class="container text-center">
        <h2 class="text-center">CONTACT US</h2>
        <hr/>
        
        <h3 class="text-center">GOT ANYTHING TO TELL US ? <br/>
            WE&#8217;d <span class="prpl">LOVE</span> TO HEAR IT FROM YOU</h3>
            <div class="container text-center">
           <div class="form-group col-md-offset-2 col-md-8">
              <input class="form-control" type="text" placeholder="Your Name*">
               <input class="form-control" type="email" placeholder="Your Email*">
               <textarea class="form-control" placeholder="Your Message*" rows="7"></textarea>
              
           </div>
            
        </div>
        <a href="" class="btn btn-large text-center">SEND<span class="glyphicon glyphicon-send"></span></a>
    </div>
    
    </div>
   <div id="footimg"></div>
    
    
    
    
    
    
    </body>
    
     <!-- /container -->      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="js/parallax.js"></script>
    
      
       
    </body>
</html>
