<% include partials/header %>
       <link rel="stylesheet" href="css/contact.css">
    
    <br/><br/>
    <div id="contactus">
    <div class="container text-center">
        <h2 class="text-center">CONTACT US</h2>
        <hr/>
        
        <h3 class="text-center">GOT ANYTHING TO TELL US ? <br/>
            WE&#8217;d <span class="prpl">LOVE</span> TO HEAR IT FROM YOU</h3>
            <div class="container text-center">
           <div class="form-group col-md-offset-2 col-md-8">
              <input class="form-control" type="text" placeholder="Your Name*">
               <input class="form-control" type="email" placeholder="Your Email*">
               <textarea class="form-control" placeholder="Your Message*" rows="7"></textarea>
              
           </div>
            
        </div>
        <a href="" class="btn btn-large text-center">SEND<span class="glyphicon glyphicon-send"></span></a>
    </div>
    
    </div>
   <div id="footimg"></div>
    
    <% include partials/footer %>
    
    
    
    
    </body>
    
     <!-- /container -->      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="js/parallax.js"></script>
    
      
       
    </body>
</html>
