<% include partials/header %>
   
   <!-- PARALLAX SCROLLING -->
   
   <div id="main" data-type="background" data-speed="5">
   <div class="jumbotron">
       
       <div class="container text-center">
          
          <div class="row text-center">
             <div class="form-group col-md-offset-2 co-md-4 col-sm-offset-2 col-sm-8">
              <input class="form-control" type="text" placeholder="Select services">
              </div>
              <div class="col-md-2">
                  
              </div>
          </div>
          <a href="" class="btn btn-primary btn-large text-center">Book Now</a>
          <h2>OR</h2>
           <h3>GIVE US A <strong>MISSED CALL</strong></h3>
           <h3>987654321</h3>
           
       </div>
   </div>
        </div>
        
        <div id="services">
            <div class="container text-center">
                <h3>OUR SERVICES</h3><hr/>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <img src="images/Rectangle-6.png">
                        <h4>Lorem Ipsum</h4>
                        <a href="/service/AC service" class="btn btn-primary btn-large">Book Now</a>
                    </div>
                     <div class="col-md-2 col-sm-2">
                        <img src="images/Rectangle-6.png">
                        <h4>Lorem Ipsum</h4>
                        <a href="/service/Fridge" class="btn btn-primary btn-large">Book Now</a>
                    </div>
                    
                     <div class="col-md-2 col-sm-2">
                        <img src="images/Rectangle-6.png">
                        <h4>Lorem Ipsum</h4>
                        <a href="/service/Cleaning" class="btn btn-primary btn-large">Book Now</a>
                    </div>
                     <div class="col-md-2 col-sm-2">
                        <img src="images/Rectangle-6.png">
                        <h4>Lorem Ipsum</h4>
                        <a href="/service/lorem" class="btn btn-primary btn-large">Book Now</a>
                    </div>
                     <div class="col-md-2 col-sm-2">
                        <img src="images/Rectangle-6.png">
                        <h4>Lorem Ipsum</h4>
                        <a href="/service/ipsuum" class="btn btn-primary btn-large">Book Now</a>
                    </div>
                     <div class="col-md-2 col-sm-2">
                        <img src="images/Rectangle-6.png">
                        <h4>Lorem Ipsum</h4>
                        <a href="/service/donoo" class="btn btn-primary btn-large">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="popular">
            <div class="container text-center">
                <h3>POPULAR SERVICES</h3>
                <hr>
                <div class="row">
                    <div class="col-md-4  col-sm-4 text-center ">
                       <div class="box">
                        <h4>LOREM IPSUM</h4>
                        <img src="images/Rectangle-8.png"><br/>
                         <a href="" class="btn btn-primary btn-large">Book Now</a>
                </div>
                    </div>
                     <div class="col-md-4  col-sm-4 text-center ">
                       <div class="box">
                        <h4>LOREM IPSUM</h4>
                        <img src="images/Rectangle-8.png"><br/>
                         <a href="" class="btn btn-primary btn-large">Book Now</a>
                </div>
                    </div>
                     <div class="col-md-4  col-sm-4 text-center ">
                       <div class="box">
                        <h4>LOREM IPSUM</h4>
                        <img src="images/Rectangle-8.png"><br/>
                         <a href="" class="btn btn-primary btn-large">Book Now</a>
                </div>
                    </div>
                   
                </div>
            </div>
        </div>
        
        <div id="discount">
            <div class="container text-center">
                <h3>DISCOUNTS</h3>
                <hr/>
                <div class="row">
                    <div class="col-md-3 col-sm-3 text-center">
                       <div class="boxx">
                           <h4>Lorem ipsum dolor sit amet</h4>
                           <p>Lore Ipsum</p>
                           <a href="" class="btn btn-primary btn-large">Promo</a>
                       </div>
                    </div>
                    <div class="col-md-3 col-sm-3 text-center">
                       <div class="boxx">
                           <h4>Lorem ipsum dolor sit amet</h4>
                           <p>Lore Ipsum</p>
                           <a href="" class="btn btn-primary btn-large">Promo</a>
                       </div>
                    </div>
                    <div class="col-md-3 col-sm-3 text-center">
                       <div class="boxx">
                           <h4>Lorem ipsum dolor sit amet</h4>
                           <p>Lore Ipsum</p>
                           <a href="" class="btn btn-primary btn-large">Promo</a>
                       </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                       <div class="boxx">
                           <h4>Lorem ipsum dolor sit amet</h4>
                           <p>Lore Ipsum</p>
                           <a href="" class="btn btn-primary btn-large">Promo</a>
                       </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div id="join">
            <div class="container text-center">
                <h2>JOIN OUR NETWORK</h2>
                <a href="" class="btn btn-primary btn-large">BE A PATNER WITH US</a>
            </div>
        </div>
      
      <div id="footer">
          <div class="container">
              <div class="col-md-3">
                  
                  <img src="images\LOGO.png">
                  <p class="blockquote">just a tagline</p>
              </div>
              <div class="col-md-3">
                  <h4>ABOUT</h4>
                 <a href="" >About Us</a><br>
                 <a href="" > How it works</a><br>
                 <a href="" >Terms And Conditions</a><br>
                 <a href="" >Join Us</a><br>
            
              </div>
              <div class="col-md-3">
                  <h4>CONTACT</h4>
                  
                <a href="" >info@advazon.com</a><br>
              </div>
              <div class="col-md-3">
                  <a href="" class="btn btn-large">PATNER WITH US</a>
              </div>
          </div>
      </div>
      
 <% include partials/footer %>