<% include partials/header %>
      <link rel="stylesheet" href="css/works.css">
     <div id="works">
         <div class="container-fluid text-center">
            <h2>How It Works</h2>
        </div>
         
     </div>
     
     <div id="content">
         <div class="container text-center">
             <h2>Its Just Simple</h2>
             <h4>1.Select any service from our Homepage</h4>
             <img src="../images/Layer-1.png">
             <h4>2.Choose the pro.</h4>
             <img src="../images/Layer-2.png">
             <h4>3.Book the pro. And rate them after their service</h4>
             <img src="../images/Layer-3.png">
             <h3>OR</h3>
             <h3>Just Give a Missed Call To Us</h3>
             <h3>987654321</h3>
             <h3>Our Executive will Contact you 
              Shortly</h3>
         </div>
     </div>
     
     <div id="footer">
         <div class="container">
             <h2>See ? Its just Simple.</h2>
         </div>
     </div>
     
<% include partials/footer %>
      