<!DOCTYPE html>
<html>
  <head>
    <title>Menu Navigator</title>
   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="js/login.js"></script>
       
          <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
   <div class="container">
    <div class="tabbed-menu">
      <ul class="tabs">
        <li id="tab1" class="selected">LOG IN</li>
        <li id="tab2">REGISTER</li>
        <hr>
       
      </ul>
      <div class="contentWrapper">
        <div class="content ">
          <div class="page" id="tab1" style="display:block;">
           <form action="/login" method="post">
           <div class="form-group text-center">
                <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

              
               <input class="form-control" name="phone" type="text" placeholder="Your mobile number*">
                <input class="form-control" name="password" type="password" placeholder="Your Password*">
             
               <button type="submit" class="btn btn-primary btn-large text-center">Log in</a>
              
           </div>
           </form>
          </div>
          <div class="page" id="tab2" style="display:none;">
           <form action="/register" method="post">
           <div class="form-group text-center">
               <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
              <input class="form-control" name="name" type="text" placeholder="Your Name*">
               <input class="form-control" name="email" type="email" placeholder="Your Email*">
                <input class="form-control" name="password" type="password" placeholder="Your Password*">
                  <input class="form-control" name="phone" type="text" placeholder="Your Mobile no*">
               <button type="submit" class="btn btn-primary btn-large text-center">Register</a>
              
           </div>
           </form>
          </div>
         
        </div>
      </div>
    </div>
      </div>
  </body>
</html>