<% include partials/header %>

      <link rel="stylesheet" href="../css/service.css">
<div id="service">
    <div class="container">
        <div class="col-md-10">
            <div class="boxLayout">
              <% services.forEach(function(service){ %>
                
                 <div class="content">
                <img src="<%= service.image %>" class="col-md-3">
                
                <div class="col-md-9">
               <h4><strong> <%= service.name %><br/></strong></h4>
                  <%= service.description %>
                </div>
                <br/>
                <a href="/booking/<%= service.name %>" class="btn btn-primary btn-large">Book Now</a>
                <hr/>
                </div>
                
             <% }); %>
              
            </div>
        </div>
    </div>
</div>  
   
  
 <% include partials/footer %>








































