body {
    background: #efefef;
}

div.tabbed-menu {
    font-family: verdana;
    font-size: 15px;
    background: #fff;
    width: 40%;
    margin: 50px auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

ul.tabs {
    text-align: center;
    list-style: none;
    position: relative;
    margin-top: 20px;
    padding: 0;
    line-height: 26px;
}

ul.tabs li {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    width: 22.91%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 1.1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .15);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

ul.tabs li.selected {
    background: #b300b3;
    border-bottom-color: transparent;
    color: #fff;
    /*  text-shadow: 0 1px 0 rgba(0,0,0,.75);*/
}

ul.tabs li:hover {
    cursor: pointer;
    background: #f4c368;
}

ul.tabs li.selected:hover {
    background: #f4c368;
}

div.page {
    text-align: center;
}

div.page li {
    text-align: left;
    list-style-type: none;
}

div.content {
    padding: 10px 20px;
}

div.content p {
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.4em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .75);
}

div.contentWrapper {
    background: regba(155, 151, 155, 0.4);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.btn-primary {
    background-image: none;
}

a {
    text-decoration: none;
}

.btn-large {
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
    color: #fff;
    background: #b300b3;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
    transition: background 0.5s;
    margin: 15px 0;
}

.btn-large:hover,
.btn-large :focus {
    background-color: #f4c368;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

input.form-control {
    border-radius: 0px;
    padding: 10px;
    text-align: center;
    width: 60%;
    border: 2px solid #b4cbc7;
    margin: 20px 15%;
}