#works{
    background: url(../images/Rectangle-1.png);
    min-height:300px;
    color: #fefefe;
    vertical-align: middle;
    h2{
        margin-top: 10%;
    }
}

#content{
    h2,h4,h3{
        margin: 20px 0;
        
    }img{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2{
        margin-bottom: 40px;
    }
}

#footer{
    background-color: #534741;
    padding: 60px 0;
    text-align: center;
    color: #fff;
}